<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css">
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/cabecalho.css" rel="stylesheet">
    <link href="../static/css/cadastro.css" rel="stylesheet">
    <link href="../static/css/contato.css" rel="stylesheet">
    <link href="../static/css/institucional.css" rel="stylesheet">
    <link href="../static/css/rodape.css" rel="stylesheet">
</head>

<body>
    <header class="cabecalho container">
        <nav class="cabecalho__navegacao">
            <ul>
                <li class="cabecalho__link"><a href="/">Home</a></li>
                <li class="cabecalho__link"><a href="#">Promoções</a></li>
                <li class="cabecalho__link"><a href="#">Delivery</a></li>
                <li class="cabecalho__link"><a href="#">Lojas</a></li>
                <li class="cabecalho__link"><a href="#">Pets</a></li>
                <li class="cabecalho__link"><a href="#">Bebidas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="cadastro container">
            <h1 class="cadastro__titulo">SBO tahON</h1>
            <p class="cadastro__texto">Novo Cadastro</p>
        </section>
        <section class="sessao-4">
            <div class="container">

                <form action="{{ request.path }}" method="post">
                    <label for="nome">Nome</label><br>
                    <input type="text" name="nome" placeholder="Nome" /><br>
                    <label for="produto">Produto</label><br>
                    <input type="text" name="produto" placeholder="produto" /><br>
                    <label for="email">email</label><br>
                    <input type="text" name="email" placeholder="email" /><br>
                    <label for="endereço">Endereço</label><br>
                    <input type="text" name="endereco" placeholder="Endereço" /><br>
                    <input type="submit" value="Salvar" />
                </form>

            </div>

            <!--container-->
        </section>
    </main>
    <footer class="rodape container">
        <img src="" alt="" class="rodape__logo">
        <ul class="rodape__social">
            <li><a href="#" class="rodape__midia"><img src="../static/img/facebook.png" alt="Ícone do Facebook"></a>
            </li>
            <li><a href="#" class="rodape__midia"><img src="../static/img/twitter.png" alt="Ícone do twitter"></a></li>
            <li><a href="#" class="rodape__midia"><img src="../static/img/instagram.png" alt="Ícone do Instagram"></a>
            </li>
        </ul>
        <nav>
            <ul class="rodape__navegacao">
                <li class="cabecalho__link"><a href="#">Institucional</a></li>
                <li class="cabecalho__link"><a href="#">Dúvidas</a></li>
                <li class="cabecalho__link"><a href="#">Pequenos Produtores</a></li>
                <li class="cabecalho__link"><a href="#">Atendimento</a></li>
            </ul>
        </nav>
    </footer>

</body>

</html>