{% extends "template.html" %}
{% block conteudo %}

<main role="main">

  <!-- Newsletter -->
  <div class="bg-primary text-secundary p-2">
    <div class="container mt-5 mb-5">
      <div class="row">
        <form action="{{ request.path }}" method="post" class="form-inline col-12">
          <div class="col-12">
            <h2>Cadastro de Fornecedores</h2>
          </div>
          <fieldset>
            {{ form.csrf_token() }}
            <div class="form-group inputBox">
              {{ form.nome.label(class="form-label") }}
              {{ form.nome(class="form-control") }}
            </div>
            <div class="form-group inputBox">
              {{ form.cnpj.label(class="form-label") }}
              {{ form.cnpj(class="form-control") }}
            </div>
            <div class="form-group inputBox">
              {{ form.ramo.label(class="form-label") }}
              {{ form.ramo(class="form-control") }}
            </div>
            <div class="form-group inputBox">
              {{ form.endereco.label(class="form-label") }}
              {{ form.endereco(class="form-control") }}
            <div class="form-group inputBox">
              {{ form.telefone.label(class="form-label") }}
              {{ form.telefone(class="form-control") }}
            </div>
            <div class="form-group buttons">
              {{ form.salvar(class="btn btn-primary") }}
              <a class="btn btn-danger" href="{{ url_for('lista') }}">cadastrar</a>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>



</main>

{% endblock %}