{% extends "template.html" %}
{% block conteudo %}

<!--/ Mapa -->
<section>
  <h6 class="titulo-principal">Localização</h6>

  <div class="folium-map" id="map_b91e28a46cf645de1a958454d303af7d"
    style="width: 1350px; height: 300px; padding: 3em 0"></div>

  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />



  <script>

    var map_b91e28a46cf645de1a958454d303af7d = L.map(
      "map_b91e28a46cf645de1a958454d303af7d",
      {
        center: [-22.73714, -47.40519],
        crs: L.CRS.EPSG3857,
        zoom: 11,
        zoomControl: true,
        preferCanvas: false,
      }
    );





    var tile_layer_7b2065216a551bd1e4867141c25faab4 = L.tileLayer(
      "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      { "attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
    ).addTo(map_b91e28a46cf645de1a958454d303af7d);


    var marker_ea2cf8e0f5bec7fc93ab48f92bc5eeb3 = L.marker(
      [-22.73714, -47.40519],
      {}
    ).addTo(map_b91e28a46cf645de1a958454d303af7d);


    var icon_6ae647a5060f7e82a00fd348db2c9be5 = L.AwesomeMarkers.icon(
      { "extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon" }
    );
    marker_ea2cf8e0f5bec7fc93ab48f92bc5eeb3.setIcon(icon_6ae647a5060f7e82a00fd348db2c9be5);


    var popup_e45abffedaec97cc37f16c89ca50d108 = L.popup({ "maxWidth": "100%" });


    var html_5b4fec8fe28abf9b239b3e977a27271c = $(`<div id="html_5b4fec8fe28abf9b239b3e977a27271c" style="width: 100.0%; height: 100.0%;">Sede tahON</div>`)[0];
    popup_e45abffedaec97cc37f16c89ca50d108.setContent(html_5b4fec8fe28abf9b239b3e977a27271c);


    marker_ea2cf8e0f5bec7fc93ab48f92bc5eeb3.bindPopup(popup_e45abffedaec97cc37f16c89ca50d108)
      ;




    var circle_marker_82d7f805b145f24dbf14de9a30f5ba56 = L.circleMarker(
      [-22.73714, -47.40519],
      { "bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 150, "stroke": true, "weight": 3 }
    ).addTo(map_b91e28a46cf645de1a958454d303af7d);


    var popup_6616e402e975ae82efe50afb87e28bc9 = L.popup({ "maxWidth": "100%" });


    var html_324b1a9707f9a6332daa98597fa2bab4 = $(`<div id="html_324b1a9707f9a6332daa98597fa2bab4" style="width: 100.0%; height: 100.0%;">Sede tahON</div>`)[0];
    popup_6616e402e975ae82efe50afb87e28bc9.setContent(html_324b1a9707f9a6332daa98597fa2bab4);


    circle_marker_82d7f805b145f24dbf14de9a30f5ba56.bindPopup(popup_6616e402e975ae82efe50afb87e28bc9)
      ;



  </script>


</section>


</main>

{% endblock %}