<!DOCTYPE html>
<html lang = "pt-br">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('tabela') }}">Teste</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Fornecedores (<a href = "{{ url_for('new') }}">Adiciona Fornecedor
         </a>)</h3>
      
      <table border = 5>
         <thead>
            <tr>
               <th>Nome</th>
               <th>Produto</th>
               <th>Email</th>
               <th>Endereço</th>
            </tr>
         </thead>
         
         <tbody>
            {% for fornecedor in fornecedores %}
               <tr>
                  <td>{{ fornecedor.nome }}</td>
                  <td>{{ fornecedor.produto }}</td>
                  <td>{{ fornecedor.email }}</td>
                  <td>{{ fornecedor.endereco }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>