<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Portal SBO tahON</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css">
    <link href="../static/css/reset.css" rel="stylesheet">
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/cabecalho.css" rel="stylesheet">
    <link href="../static/css/chamada.css" rel="stylesheet">
    <link href="../static/css/destaques.css" rel="stylesheet">
    <link href="../static/css/diferenciais.css" rel="stylesheet">
    <link href="../static/css/sobre.css" rel="stylesheet">
    <link href="../static/css/planos.css" rel="stylesheet">
    <link href="../static/css/contato.css" rel="stylesheet">
    <link href="../static/css/institucional.css" rel="stylesheet">
    <link href="../static/css/rodape.css" rel="stylesheet">
</head>

<body>
    <header class="cabecalho container">
        <button class="cabecalho__menu" aria-label="Menu"><i class="fa-solid fa-bars fa-2x"></i></button>

        <nav class="cabecalho__navegacao">
            <ul>
                <li class="cabecalho__link"><a href="#">Home</a></li>
                <li class="cabecalho__link"><a href="#">Promoções</a></li>
                <li class="cabecalho__link"><a href="#">Delivery</a></li>
                <li class="cabecalho__link"><a href="#">Lojas</a></li>
                <li class="cabecalho__link"><a href="#">Pets</a></li>
                <li class="cabecalho__link"><a href="#">Bebidas</a></li>
                <li class="cabecalho__link"><i class="fa-solid fa-user-plus"></i><a href="/cadastro">Cadastro</a></li>
            </ul>
        </nav>

    </header>

    <nav class="menu-lateral">
        <img src="../static/img/logo_1.svg" alt="Logotipo da tahON" class="menu-lateral__logo">
        <a href="#" class="menu-lateral__link menu-lateral__link--inicio menu-lateral__link--ativo"><i
                class="fa-solid fa-house"></i>Início</a>
        <a href="#" class="menu-lateral__link "><i class="fa-solid fa-store"></i>Padaria</a>
        <a href="#" class="menu-lateral__link "><i class="fa-solid fa-store"></i>Mercearia</a>
        <a href="#" class="menu-lateral__link "><i class="fa-solid fa-wine-bottle"></i>Bebidas</a>
        <a href="#" class="menu-lateral__link "><i class="fa-solid fa-cow"></i>Açougue</a>
        <a href="#" class="menu-lateral__link "><i class="fa-solid fa-venus"></i>Manicure</a>
        <a href="#" class="menu-lateral__link "><i class="fa-solid fa-mars"></i>Barbearia</a>
    </nav>

    <main>
        <section class="chamada container">
            <h1 class="chamada__titulo">SBO tahON</h1>
            <p class="chamada__texto">Divulgue seus produtos na Plataforma de Vendas e aumente seu faturamento</p>
            <a href="#" class="chamada__botao botao">Assine Portal de Negócios tahON</a>
        </section>
        <section class="destaques container">
            <h2 class="destaques__titulo">Conecte-se ao Ambiente de Negócios Digital</h2>

            <a href="#">
                <figure class="destaques__painel">
                    <img src="../static/img/transformacao.jpg" alt="Painel do post sobre criação de logotipo"
                        class="destaques__painel-imagem">
                    <figcaption class="destaques__painel-texto">Estante Virtual de Produtos</figcaption>
                </figure>
            </a>
            <a href="#">
                <figure class="destaques__painel">
                    <img src="../static/img/cadastro.jpg" alt="Painel do post sobre fotografia com celular"
                        class="destaques__painel-imagem">
                    <figcaption class="destaques__painel-texto">Produtos em destaque</figcaption>
                </figure>
            </a>
            <a href="#" class="destaques__botao botao">Receba promoções por email</a>
        </section>
        <section class="diferenciais container">
            <ul class="diferenciais__lista">
                <li class="diferenciais__item diferenciais__item--tempo">
                    <h2 class="item__titulo">Tempo</h2>
                    <p class="item__texto">Permita que seu cliente use o tempo para curtir as boas coisas da vida</p>
                </li>
                <li class="diferenciais__item diferenciais__item--foco">
                    <h2 class="item__titulo">Faturamento</h2>
                    <p class="item__texto">Aumente seus ganhos através do Portal</p>
                </li>
                <li class="diferenciais__item diferenciais__item--especialistas">
                    <h2 class="item__titulo">Especialistas</h2>
                    <p class="item__texto">Equipe experiente e especializada</p>
                </li>
            </ul>
        </section>
        <section class="sobre container">
            <div class="sobre__conteudo">
                <h2 class="sobre__titulo">Sobre</h2>
                <p class="sobre__texto">Criamos aplicativos personalizados para <strong
                        class="sobre__texto--destaque">seu negócio</strong>!</p>
                <p class="sobre__texto">
                    Nosso intuito é divulgar seu produto e oferecer meio de pagamento de modo a aumentar o faturamento
                    da sua empresa.
                </p>
                <p class="sobre__texto sobre__texto--destaque sobre__texto--divisao">
                    Conte com uma equipe especializada e exclusiva pra projetos incríveis.
                </p>
                <ul class="sobre__plataformas">
                    <li><img src="../static/img/android.png" alt="Ícone do Android"></li>
                    <li><img src="../static/img/blackberry.png" alt="Ícone da Blackberry"></li>
                    <li><img src="../static/img/apple.png" alt="Ícone da Apple"></li>
                    <li><img src="../static/img/windowsphone.png" alt="Ícone da Microsoft"></li>
                </ul>
                <p class="sobre__texto">Desenvolvemos aplicativos web</p>
            </div>
            <img src="../static/img/sobre-apeperia.png" alt="Sobre a Apeperia" class="sobre__imagem">
        </section>
        <section class="planos container">
            <h2 class="planos__titulo">Planos</h2>
            <ul class="planos__cartoes">
                <li class="cartao cartao--start">
                    <h3 class="cartao__titulo">Start</h3>
                    <article class="cartao__conteudo">
                        <p class="cartao__preco"><em>R$ 50</em></p>
                        <p class="cartao__texto">5 manutenções mensais</p>
                        <p class="cartao__texto">App SEO</p>
                        <p class="cartao__texto">1 sistema operacional</p>
                        <a href="plano.html" class="cartao__botao cartao__botao--start botao">Assinar plano</a>
                    </article>
                </li>
                <li class="cartao cartao--ultra">
                    <h3 class="cartao__titulo">Ultra</h3>
                    <article class="cartao__conteudo">
                        <p class="cartao__preco"><em>R$ 100</em></p>
                        <p class="cartao__texto">20 manutenções mensais</p>
                        <p class="cartao__texto">App SEO</p>
                        <p class="cartao__texto">4 sistemas operacionais</p>
                        <p class="cartao__texto">24h de atendimento</p>
                        <a href="" class="cartao__botao cartao__botao--ultra botao">Assinar plano</a>
                    </article>
                </li>
                <li class="cartao cartao--mega">
                    <h3 class="cartao__titulo">Mega</h3>
                    <p class="cartao__preco"><em>R$ 75</em></p>
                    <article class="cartao__conteudo">
                        <p class="cartao__texto">10 manutenções mensais</p>
                        <p class="cartao__texto">App SEO</p>
                        <p class="cartao__texto">2 sistemas operacionais</p>
                        <a href="" class="cartao__botao cartao__botao--mega botao">Assinar plano</a>
                    </article>
                </li>
            </ul>
        </section>
        <section class="contato container">
            <h2 class="contato__titulo">Contato</h2>
            <p>Entre em contato com a gente</p>
            <a href="contato.html" class="contato__botao botao">Entre em contato</a>
        </section>
        <section class="institucional container">
            <h2 class="institucional__titulo">Institucional</h2>
            <div class="institucional__conteudo">
                <div class="institucional__informacoes">
                    <p class="institucional__descricao">Um pouco mais sobre a tahON</p>
                    <address class="institucional__endereco">
                        Rua General Couto Magalhães, 215</br>
                        Hab. 31 de Março, Santa Bárbara d Oeste SP
                        <article class="institucional__contato">
                            <p><a href="tel:+551955712751" class="institucional__contato-telefone">(19) 3455-7203</a> ou
                                <a href="mailto:aluno@aluno.univesp.br"
                                    class="institucional__contato-email">aluno@aluno.univesp.br</a>
                            </p>
                        </article>
                    </address>
                </div>
                <section>
                    <h6 class="titulo-principal">Localização</h6>

                    <div class="folium-map" id="map_b91e28a46cf645de1a958454d303af7d"
                        style="width: 650px; height: 300px; padding: 3em 0"></div>

                    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
                    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" />
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
                    <link rel="stylesheet"
                        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />



                    <script>

                        var map_b91e28a46cf645de1a958454d303af7d = L.map(
                            "map_b91e28a46cf645de1a958454d303af7d",
                            {
                                center: [-22.73714, -47.40519],
                                crs: L.CRS.EPSG3857,
                                zoom: 11,
                                zoomControl: true,
                                preferCanvas: false,
                            }
                        );





                        var tile_layer_7b2065216a551bd1e4867141c25faab4 = L.tileLayer(
                            "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                            { "attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
                        ).addTo(map_b91e28a46cf645de1a958454d303af7d);


                        var marker_ea2cf8e0f5bec7fc93ab48f92bc5eeb3 = L.marker(
                            [-22.73714, -47.40519],
                            {}
                        ).addTo(map_b91e28a46cf645de1a958454d303af7d);


                        var icon_6ae647a5060f7e82a00fd348db2c9be5 = L.AwesomeMarkers.icon(
                            { "extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon" }
                        );
                        marker_ea2cf8e0f5bec7fc93ab48f92bc5eeb3.setIcon(icon_6ae647a5060f7e82a00fd348db2c9be5);


                        var popup_e45abffedaec97cc37f16c89ca50d108 = L.popup({ "maxWidth": "100%" });


                        var html_5b4fec8fe28abf9b239b3e977a27271c = $(`<div id="html_5b4fec8fe28abf9b239b3e977a27271c" style="width: 100.0%; height: 100.0%;">Sede tahON</div>`)[0];
                        popup_e45abffedaec97cc37f16c89ca50d108.setContent(html_5b4fec8fe28abf9b239b3e977a27271c);


                        marker_ea2cf8e0f5bec7fc93ab48f92bc5eeb3.bindPopup(popup_e45abffedaec97cc37f16c89ca50d108)
                            ;




                        var circle_marker_82d7f805b145f24dbf14de9a30f5ba56 = L.circleMarker(
                            [-22.73714, -47.40519],
                            { "bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 150, "stroke": true, "weight": 3 }
                        ).addTo(map_b91e28a46cf645de1a958454d303af7d);


                        var popup_6616e402e975ae82efe50afb87e28bc9 = L.popup({ "maxWidth": "100%" });


                        var html_324b1a9707f9a6332daa98597fa2bab4 = $(`<div id="html_324b1a9707f9a6332daa98597fa2bab4" style="width: 100.0%; height: 100.0%;">Sede tahON</div>`)[0];
                        popup_6616e402e975ae82efe50afb87e28bc9.setContent(html_324b1a9707f9a6332daa98597fa2bab4);


                        circle_marker_82d7f805b145f24dbf14de9a30f5ba56.bindPopup(popup_6616e402e975ae82efe50afb87e28bc9)
                            ;



                    </script>


                </section>
            </div>
        </section>
    </main>
    <script>

        const botaoMenu = document.querySelector('.cabecalho__menu')
        const menu = document.querySelector('.menu-lateral')

        botaoMenu.addEventListener('click', () => {
            menu.classList.toggle('menu-lateral--ativo')
        })
    </script>
    <footer class="rodape container">
        <img src="" alt="" class="rodape__logo">
        <ul class="rodape__social">
            <li><a href="#" class="rodape__midia"><img src="../static/img/facebook.png" alt="Ícone do Facebook"></a>
            </li>
            <li><a href="#" class="rodape__midia"><img src="../static/img/twitter.png" alt="Ícone do twitter"></a></li>
            <li><a href="#" class="rodape__midia"><img src="../static/img/instagram.png" alt="Ícone do Instagram"></a>
            </li>
        </ul>
        <nav>
            <ul class="rodape__navegacao">
                <li class="cabecalho__link"><a href="#">Institucional</a></li>
                <li class="cabecalho__link"><a href="#">Dúvidas</a></li>
                <li class="cabecalho__link"><a href="#">Pequenos Produtores</a></li>
                <li class="cabecalho__link"><a href="#">Atendimento</a></li>
            </ul>
        </nav>
    </footer>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <a href="https://api.whatsapp.com/send?phone=1934557203&text=Portal SBO%20tahON" target="_blank"
        style="position:fixed;bottom:20px;right:30px;">
        <svg enable-background="new 0 0 512 512" width="50" height="50" version="1.1" viewBox="0 0 512 512"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z"
                fill="#4CAF50" />
            <path
                d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z"
                fill="#FAFAFA" />
        </svg>
    </a>
</body>

</html>